@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background: #fff;
  font-style: normal;
  min-width: 320px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

img {
  display: block;
}
